body {
  font-family: "Inter";
  font-size: 14px;
  margin: 0;
  padding: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-with-lines {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #ff6b82;
  font-size: 20px;
  width: 343px;
}

.line {
  flex-grow: 1;
  height: 2px;

  background-color: rgb(0 0 0 / 20%);
  margin: 0 0px; /* Adjust the margin as needed */
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0 0 0 / 20%);
  transition: height 0.3s ease-in-out;
  width: 341px;
  overflow: hidden;
}
.popular {
  position: absolute;
  top: 23px;
  background-color: #ff6b82;
  color: white;
  border: none;
}
.details {
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.unit {
  display: flex;
  align-items: center;
}

.btn {
  margin-left: 10px;
  background-color: #ff6b82;
  color: white;
  border: none;
  border-radius: 1px;
}
.container label {
  cursor: pointer;

  margin-bottom: 10px;
}

.total {
  display: flex;

  gap: 110px;
}

.dropdowns {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  justify-content: start;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}

.label {
  margin-left: 5px;
}

.container.expanded {
  background-color: #fff9fa;
  border-width: 2px;
  border-color: #ff6b82;
  height: auto;
}

input[type="radio"]:checked {
  accent-color: #ff6b82;
}

input[type="radio"]:checked + label {
  color: black;
}
.custom-dropdown select {
  width: 70px; /* Set the width as needed */
  padding: 5px;
  font-size: 12px;
  border: 1px solid rgb(0 0 0 / 20%); /* Set the border color */
  border-radius: 0.9px;
  background-color: #ffffff; /* Set the background color */
  cursor: pointer;
}
.striked-text {
  color: rgb(0 0 0 / 30%);
  font-size: 12px;
}
